@page "/about"

<Client.Components.Public.Shared.Navbar />

<main class="container min-vh-90 py-md-5">
    <div class="row p-4 mt-md-5 shadow-no-hover">
        <div class="col">
            <h3 class="text-primary">Who Am I?</h3>
            <h2>I'm Jimmy Townsend, a passionate .NET developer.</h2>
            <p class="d-inline-flex">
                I am a software developer that specializes in .NET and Azure development.

                <br />
                <br />

                Solving problems with software is fun to me.

                <br />
                <br />

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu rhoncus sem, eget aliquam neque.
                Pellentesque et dapibus sapien, sed dignissim diam. Suspendisse velit leo, imperdiet in urna id, lobortis auctor libero.
                Morbi id libero id tortor sodales tincidunt.
                Proin placerat sit amet nisl eu tempus. Duis dolor sapien, fringilla in risus vel, rutrum tempor massa. Fusce a interdum nunc.

                <br />
                <br />

                <h2>Background</h2>

                Donec lacus nisl, luctus et tincidunt ut, convallis vel augue.
                Nam ac urna in justo congue lobortis eget ac eros. Nunc tempus eleifend ipsum vitae facilisis.
                Duis fermentum suscipit libero, a laoreet leo varius id.
                Nulla interdum dolor sed lacus pulvinar, ut luctus est elementum.
                Pellentesque in purus a sapien aliquam volutpat. Morbi augue metus, pulvinar at consequat nec, hendrerit id ipsum.
                Nullam fermentum nisi in nisl ultrices, vel lobortis nisi sodales. Cras suscipit orci libero, ac dictum neque dignissim vel.
                Donec eu libero in nulla suscipit commodo vel sed nibh. Morbi elementum dignissim justo ac egestas.
                Curabitur diam diam, elementum sed egestas et, volutpat nec mauris.
                Vestibulum finibus nisi at volutpat congue. Sed malesuada ut mauris sed tincidunt. In hac habitasse platea dictumst.
                Sed et gravida turpis.

                <hr />

                <div class="row">
                    <div col-md-6>
                        <a href="assets/docs/test-pdf.pdf" download class="btn btn-primary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                            <i class="fas fa-file-pdf"/> &nbsp;View Resume
                        </a>
                    </div>
                    <div col-md-6>
                        <a href="/portfolio" class="btn btn-secondary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                            <i class="fas fa-project-diagram" /> &nbsp;View Portfolio
                        </a>
                    </div>
                </div>
            </p>
        </div>
    </div>
</main>

<Client.Components.Public.Shared.Footer />