@page "/portfolio"

<Client.Components.Public.Shared.Navbar />

@if (_showingExamplePrtfolioProjectModalWindow == true)
{
    <Client.Components.Public.Portfolio.ExamplePortfolioProjectModalWindow 
            ParentMethodToCallOnClickBtnClose="() => _showingExamplePrtfolioProjectModalWindow = false" />
}

<main class="container min-vh-90 py-5">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">Portfolio</h1>

            <p>On this page you can view the commercial grade projects I have completed.</p>

            <div class="row mt-4">
                <div class="col-md-4 my-2">
                    <div class="card shadow">
                        <img src="assets/img/publicbackgrounds/bg-motherboard.jpg" alt="Portfolio project thumbnail image." />

                        <div class="card-body">
                            <h3 class="card-title fw-bold">My First Project</h3>
                            <p class="card-text">
                                @(string.Join(" ", _exampleExcerpt.Split().Take(43).ToArray()))
                            </p>
                        </div>

                        <button @onclick="() => _showingExamplePrtfolioProjectModalWindow = true" 
                                class="btn btn-primary stretched-link">
                            <i class="fas fa-info-circle"></i> More Information
                        </button>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow">
                        <img src="assets/img/publicbackgrounds/bg-motherboard.jpg" alt="Portfolio project thumbnail image." />

                        <div class="card-body">
                            <h3 class="card-title fw-bold">My First Project</h3>
                            <p class="card-text">
                                @(string.Join(" ", _exampleExcerpt.Split().Take(43).ToArray()))
                            </p>
                        </div>

                        <button @onclick="() => _showingExamplePrtfolioProjectModalWindow = true" 
                                class="btn btn-primary stretched-link">
                            <i class="fas fa-info-circle"></i> More Information
                        </button>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow">
                        <img src="assets/img/publicbackgrounds/bg-motherboard.jpg" alt="Portfolio project thumbnail image." />

                        <div class="card-body">
                            <h3 class="card-title fw-bold">My First Project</h3>
                            <p class="card-text">
                                @(string.Join(" ", _exampleExcerpt.Split().Take(43).ToArray()))
                            </p>
                        </div>

                        <button @onclick="() => _showingExamplePrtfolioProjectModalWindow = true" 
                                class="btn btn-primary stretched-link">
                            <i class="fas fa-info-circle"></i> More Information
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<Client.Components.Public.Shared.Footer />

@code {
    private bool _showingExamplePrtfolioProjectModalWindow = false;

    private string _exampleExcerpt = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultrices viverra magna. Proin dui erat, posuere at nisl cursus, hendrerit dapibus nibh. Praesent felis justo, finibus viverra elementum ac, bibendum ut nunc. Nulla rutrum mattis urna, vel pretium felis ultrices vitae. Aliquam a dictum nibh, sit amet bibendum enim. Integer finibus massa vitae enim iaculis maximus. Vestibulum a pharetra ex, vel porttitor mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque in felis in elit aliquam consequat. Nullam maximus ornare elit, scelerisque viverra est egestas id. Aliquam hendrerit sapien ex, ac dictum orci imperdiet in.";
}