<div class="modal fade @_modalClass" id="informationalModal" tabindex="-1"
     aria-labelledby="informationalModalLabel" role="dialog" style="display:@_modalDisplay">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="informationalModalLabel">Example Portfolio Project</h5>
                <button @onclick="CloseModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div id="carouselWithIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselWithIndicators"
                                data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="slide 1"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators"
                                data-bs-slide-to="1" aria-label="slide 2"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators"
                                data-bs-slide-to="2" aria-label="slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">
                                <img src="assets/img/publicbackgrounds/bg-motherboard-dev.jpg"
                                     class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">
                                <img src="assets/img/publicbackgrounds/bg-motherboard.jpg"
                                     class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">
                                <img src="assets/img/publicbackgrounds/bg-motherboard-dev.jpg"
                                     class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>
                        </div>

                    </div>

                    <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselWithIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden`="true"></span>
                        <span class="visually-hidden">previous</span>
                    </button>

                    <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselWithIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden`="true"></span>
                        <span class="visually-hidden">next</span>
                    </button>

                </div>

                <p class="text-muted my-2">
                    Click an image to view it full screen (opens a new tab).
                </p>

                <a href="https://dotnet.microsoft.com/apps/aspnet" class="btn btn-lg d-block mx-5 btn-primary mt-5 shadow" target="_blank">
                    <i class="fas fa-laptop-code"></i> Live Demo
                </a>

                <a href="https://github.com/dotnet/aspnetcore" class="btn btn-lg d-block mx-5 bg-dark text-white mt-3 shadow" target="_blank">
                    <i class="fab fa-githu-square"></i> Github Repo
                </a>

                <h1 class="mt-5">Description</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu rhoncus sem, eget aliquam neque.
                    Pellentesque et dapibus sapien, sed dignissim diam. Suspendisse velit leo, imperdiet in urna id, lobortis auctor libero.
                    Morbi id libero id tortor sodales tincidunt.
                    Proin placerat sit amet nisl eu tempus. Duis dolor sapien, fringilla in risus vel, rutrum tempor massa. Fusce a interdum nunc.
                    <br />
                    <br />
                    Donec lacus nisl, luctus et tincidunt ut, convallis vel augue.
                    Nam ac urna in justo congue lobortis eget ac eros. Nunc tempus eleifend ipsum vitae facilisis.
                    Duis fermentum suscipit libero, a laoreet leo varius id.
                    Nulla interdum dolor sed lacus pulvinar, ut luctus est elementum.
                    Pellentesque in purus a sapien aliquam volutpat. Morbi augue metus, pulvinar at consequat nec, hendrerit id ipsum.
                    Nullam fermentum nisi in nisl ultrices, vel lobortis nisi sodales. Cras suscipit orci libero, ac dictum neque dignissim vel.
                    Donec eu libero in nulla suscipit commodo vel sed nibh. Morbi elementum dignissim justo ac egestas.
                    Curabitur diam diam, elementum sed egestas et, volutpat nec mauris.
                    Vestibulum finibus nisi at volutpat congue. Sed malesuada ut mauris sed tincidunt. In hac habitasse platea dictumst.
                    Sed et gravida turpis.
                </p>

                <h1 class="mt-5">Core Features</h1>
                <ul>
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                    <li>Feature 4</li>
                    <li>Feature 5</li>
                    <li>Feature 6</li>
                </ul>
            </div>

            <div class="modal-footer">
                <button @onclick="CloseModal" type="button" class="btn btn-primary bt-lg shadow" data-bs-dismiss="modal">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>

@if (_showBackdrop == true)
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter]
    public EventCallback ParentMethodToCallOnClickBtnClose { get; set; }

    private string _modalDisplay = null;
    private string _modalClass = null;
    private bool _showBackdrop = false;

    protected override void OnInitialized() => ShowModal();

    private void ShowModal()
    {
        _modalDisplay = "block;";
        _modalClass = "show";
        _showBackdrop = true;
    }

    private void CloseModal()
    {
        _modalDisplay = "none;";
        _modalClass = string.Empty;
        _showBackdrop = false;
        ParentMethodToCallOnClickBtnClose.InvokeAsync();
    }
}