@media (min-width: 768px) {
    .admin-area-sidebar{
        width: 200px;
    }
}

@media (max-width: 767px) {
    .admin-area-sidebar {
        width: 75px;
    }
}

.nav-pills .nav-links {
    border-radius: 0px;
}

.nav-pills .nav-links:hover {
    background-color: #115dce;
}